# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
godgroup-service/src/
godgroup-common/src/
godgroup-mobile/src/main/java/
godgroup-mobile/src/test/
godgroup-model/src/main/java/
godgroup-model/src/test/
godgroup-web/src/test/
